.header {
  padding: 1.25rem;
  background: url(../assets/images/headerBg.webp) no-repeat;
  background-size: cover;
  min-height: 500px;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 50px;
  height: auto;
}