.header {
  position: relative;
  padding: 1.25rem;
  background: url(../assets/images/headerBg.webp) no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 50px;
  height: auto;
}
.mobile_menu {
  width: 90vw;
  max-width: 500px;
  background-color: rgba(248, 248, 248, .5);
  padding: 1rem;
  position: absolute;
  left: 5%;
  top: -100%;
  border-radius: 1rem;
  transition: top .6s ease-in-out;
  height: 140px;
}
.mobile_menu.active {
  top: 15%;
}
.mobile_menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mobile_menu ul a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  color:  white;
}
.mobile_menu li {
  transition: transform ease-in-out .3s;
  background-color: rgba(0, 0, 0, .9);
  padding: .25rem;
  border-radius: .25rem;
}
.mobile_menu ul li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
h1 {
  padding: 1rem;
  color: #001f3f;
  border: 1px solid white;
  border-radius: .25rem;
  text-align: center;
  margin-top: 10rem;
  background-color: rgba(248, 248, 248, .5);
}
.icon {
  width: 25px;
  height: auto;
}
.cart_container {
  margin-top: 1rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  background-color: rgba(248, 248, 248, .5);
  padding: .5rem;
  border-radius: .25rem;
  color: #001f3f;
}
.flex_grp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .header {
    padding: 2.5rem;
  }
  .mobile_menu {
    width: auto;
    background-color: transparent;
    padding: 0;
    position: unset;
    height: unset;
  }
  .mobile_menu ul {
    flex-direction: row;
  }
  h1 {
    max-width: 400px;
    align-self: center;
    margin-top: 5rem;
  }
  .cart_container {
    align-self: flex-end;
  }
}